.root{
    -fx-background-color: #fff;
}
.button{
    -fx-background-color: TRANSPARENT;
    -fx-cursor: hand;
}
.round{
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-background-color: #e83c3c;
}

.ele-slider {
    -jfx-default-thumb: #e83c3c;
    -jfx-default-track: #e6e6e8;
}

.ele-slider .thumb{
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-background-radius: 10px;
}

.ele-slider .track,
.ele-slider .colored-track{
    -fx-pref-height: 5px;
}

.ele-slider .animated-thumb{
    visibility: false;
}

.table-view{
    -fx-background-color: #fff;
}

.table-view .table-row-cell:selected{
    -fx-background-color: #444;
}

.table-view .table-row-cell:selected .text{
    -fx-fill: #fff;
}

.table-view .table-row-cell:selected .table-cell{
    -fx-border-color: #0000 #444 #0000 #0000;
}